.popup-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.popup{
    max-width: 100vw;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.pu-topic{
    color: black;
    padding: 20px 40px 0;
}
.pu-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px 40px;
}
.pop-btn-area{
    width: 100%;
    padding: 15px 40px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.pu-mes{
    color: black;
}
.pu-3{
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.pu-re{
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 20px;
}
.popup-btn{
    width: 100px;
    height: 40px;
    background-color: var(--bg-tb-color);
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.2s ease-in-out;
}

.popup-btn:hover{
    background-color: var(--main-color);
    color: var(--second-color);
}

.popup-btn.cancel:hover{
    background-color: var(--alert-color);
    color: var(--alert-active-color);
}

.popup-btn.ok:hover{
    background-color: var(--allow-color);
    color: var(--allow-active-color);
}

.popup-btn:active{
    transform: scale(0.9);
}

.pu-input{
    width: 60px;
    height: 40px;
    margin: 0 10px;
    border-radius: 10px ;
    font-size: 1em;
    font-weight: 800;
    text-align: center;
}
.pu-input:hover{
    background-color: rgb(235, 234, 234);
}
.pu-input:focus{
    background-color: rgb(235, 234, 234);
}







.success-animation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
    padding: 20px 0 0;
}

.checkmark {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #4bb71b;
    stroke-miterlimit: 10;
    box-shadow: inset 0px 0px 0px #4bb71b;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
    position:relative;
}
.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #4bb71b;
    fill: #fff;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
 
}

.checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes scale {
    0%, 100% {
        transform: none;
    }

    50% {
        transform: scale3d(1.1, 1.1, 1);
    }
}

@keyframes fill {
    100% {
        box-shadow: inset 0px 0px 0px 30px #4bb71b;
    }
}